*{
  color: white;
}



.main{
  background: url(https://images.squarespace-cdn.com/content/v1/6063b0835f68896079d7d643/1617908516380-MGDSF238F46LA8HAN8ZQ/LVCC%2BLoop%2BHero%2B2_April%2B2021.jpg?format=2500w);
  min-height: 100vh;
  background-size: cover;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  background-attachment: fixed;
  position: relative;
  
  
  z-index: -10;

}